{% include 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Tech World</title>
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body class="bg-dark">
    
    
        <form class="w-50 d-flex m-auto justify-content-center flex-column" method="post" action="/login">
          <h1 class="display-2 m-3 text-white w-100 text-center">Sign In</h1>
          {% csrf_token %}
      
          <div class="form-floating m-3">
            <input type="text" class="form-control bg-success-subtle" id="floatingInput" placeholder="username" name="username">
            <label for="floatingInput">Username</label>
          </div>
    
          <div class="form-floating m-3">
            <input type="password" class="form-control bg-success-subtle" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
          </div>

          <button class="btn btn-lg btn-primary m-3" type="submit">Sign in</button>

        </form>

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>